@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
	margin: 0;
	padding: 0;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Oswald;
	background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: relative;
}
.content{
	margin-top: 30px;
}

.body label{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}
.body button[type="submit"]{
	padding: 10px 15px;
}
.body button[type="submit"]:hover{
	cursor: pointer;
}
nav{
	padding: 0;
	margin-top: 0;
	width: 100%;
	height: 86px;
	opacity: 0.8;
	position: absolute;
	box-sizing: border-box;
	transition: .3s;
	z-index: 500;
	text-align: center;
	background: black;
}
nav ul li a:hover{
	background: #585858;
	border-radius: 5px;
}
.black{
	background: rgba(0, 0, 0,0.8);
	
}
nav ul{
	text-align: center;
}
nav ul li{
	margin-top: 16px;
	list-style: none;
	display: inline-block;
	font-size: 17px;
	padding: 15px;
	float: center;
}
nav ul li a{
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s;
}
li a i{
	padding-right: 5px;
}
.black ul li a{
	color: white;
}
.black ul li a:hover{
	
}
nav  img{
	margin-left: 45px;
	float: left;
	width: 120px;
	height: 70px;
	margin-top: 8px;
	border-radius: 5px;
	cursor: pointer;
}
.rodape{
	width: 100%;
	height: 30px;
	z-index: 100;
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: relative;
	text-align: center;
	font-size: 17px;
}
.btn-login{
	background-color: red;
	border-radius: 5px;
	color: white;
}
.btn-login:hover{
	background: #FA5858;
}
.header-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 130px;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.header-bg h2{
	margin: 0;
	padding: 0;
	color: #000;
	padding: 20px;
	margin-top: 100px;
	text-align: center;
	max-width: 80%;
	font-size: 6em;
	font-family: 'Indie Flower', cursive;
}
.header-bg h3{
	font-family: 'Indie Flower', cursive;
	color: red;
	padding: 20px;
	margin-top: 100px;
	text-align: center;
	max-width: 80%;
	font-size: 6em;
}
.header-bg h2 label{
	font-size: 2.7em;
}
.header-bg h3 label{
	font-size: 2.7em;

}
section{
	position: relative;
	top: 100vh;
	padding: 100px;
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}
section h2{
	margin: 0 0 50px;
	padding: 0;
	font-size: 4em;
	color: black;
}
section p {
	color: black;
}
td a{
	padding: 10px;
}
label.blue{
	color: blue;
}
label.red{
	color: red;
}
section p{
	font-size: 20px;
}
.window{
	display: none;
	width: 450px;
	height: 500px;
	position: fixed;
	background: white;
	top: 0;
	left: 0;
	z-index: 9900;
	padding: 10px;
	border-radius: 10px;
}
#mascara{
	display: none;
	position: absolute;
	background: black;
	top: 0;
	left: 0;
	z-index: 9000;
}
.fechar{
	display: block;
	text-align: right;
	font-size: 20px;
	margin-right: 10px;
	color: #A4A4A4;
}
.window h4{
	text-align: center;
	font-size: 28px;
	font-weight: bolder;
}
.window p{
	margin-top: 30px;
	font-size: 20px;
}
.window a{
	text-decoration: none;
	color: blue;
}
.window button{
	padding: 10px 15px;
	cursor: pointer;
	color: white;
	background:red;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	font-size: 20px;
	width: 290px;
	margin-bottom: 20px;
}
.window button:hover{
	background: #FA5858;
}
.window input{
	border: solid 1px #babaca;
	width: 80%;
	height: 35px;
	height: 40px;
	border-radius: 5px;
	outline: none;
}
.window input.red{
	border: solid 2px red;
	background: #F5A9A9;
}
input{
	padding-left: 10px;
}
div.window div.alerts{
	width: 80%; 
	text-align: center; 
	color: red; 
	margin-bottom: -26px; 
	display: none;
}
div.cadastro{
	text-align: center;
	margin-top: 40px;
	border: solid 1px;
	width: 80%;
	border-radius: 15px;
	background: white;
	border: solid 1px #babaca; 
	margin-top: 120px;
	margin-bottom: 60px;
}
div.cadastro form button{
	color: white;
	background: red;
	border: none;
	border-radius: 5px;
	padding: 15px;
	cursor: pointer;
	margin-top: 20px;
	width: 50%;
	margin-bottom: 30px;
}
div.cadastro form button:hover{
	background: #FA5858;
}
div.cadastro h2{
	margin-top: 20px;
}
div.cadastro p.primary{
	margin-top: 30px;
}
div.cadastro input{
	width: 50%;
	height: 27px;
	height: 35px;
	border-radius: 5px;
	border: solid 1px #babaca;
}
div.cadastro input[type=file]{
	height: 20px;
}
div.cadastro form label{
	background-color: #3498db;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	padding: 6px 20px;
}
div.cadastro form textarea{
	width:49% ; 
	height: 90px; 
	resize: none;
	border-radius: 5px;
	padding: 8px;
}
div.cadastro span{
	color: red;
}
/*.input-wrapper{
	height: 100px;
	border: solid;
}
.input-wrapper label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 6px 20px
}

.input-wrapper label:hover {
  background-color: #2980b9
}*/
div.cadastro select{
	width: 51%;
	height: 30px;
	height: 35px;
	border-radius: 5px;
	outline: none;
}
div.busca {
	position: relative;
	margin-top: 120px;
	width: 60%;
}
div.busca button{
	position: absolute;
	right: 0;
	top: 8px;
	padding: 4px 16px;
	font-size: 20px;
	background: none;
	border: none;
	outline: none;
}
div.busca button i:hover{
	color: #babaca;
	cursor: pointer;
}
div.busca form input{
	width: 100%;
	height: 40px;
	border-radius: 25px;
	border: solid 2px #babaca;
	text-align: center;
	outline: none;
	overflow: hidden;
}
div.busca form input:focus{
	border: solid 2px #58ACFA;
}
a{
	text-decoration: none;
}
a:focus{
	outline: none;
}
div.busca .icons-busca{
	list-style: none;
	display: flex;
	margin-top: 15px;
	justify-content: center;
}
.icons-busca li{
	padding: 5px;
}
.icons-busca li a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.icons-busca li a:focus{
	outline: none;
}
.icons-busca li a:hover{
	text-decoration: underline;
}
.icons-busca a i{
	padding: 5px;
}
.icons{
	background-color: white;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 105px; 
	height: 85px;
	padding: 15px;
}
div.search {
	margin-top: 60px;
	text-align: center;
	width: 70%;
	border-radius: 15px;
	background: white;
	margin-bottom: 80px;
	min-height: 100vh;
}
div.search div.products{
	margin-top: 20px;
	width: 400px;
	height: 210px;
	text-align: center;
	border: solid 1px #babaca;
	border-radius: 5px;
}
div.products a{
	margin-top: -60px;
	cursor: pointer;
}
div.search div.products a p{
	margin-top: -140px;
	float: right;
	width: 50%;
}
div.search div.products div.foto{
	width: 50%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}
div.search div.anuncios{
	margin-top: 50px;
	width: 250px;
	background: white;
	border-radius: 5px;
	border: solid 1px #babaca;
}
div.anuncios div.adverts img{
	width: 100%;
	height: 190px;
	margin: 0;
}
div.anuncios div.adverts{
	width: 100%;
	height: 50%;
	margin: 0;
}
div.anuncios form{
	margin-top: 80px;
}
div.anuncios form button{
	margin-bottom: 40px;
	cursor: pointer;
}
div.anuncios form textarea{
	resize: none; 
	width: 50%; 
	height: 150px;
	border-radius: 5px;
	outline: none;
	margin-bottom: 20px;
	padding: 8px;
}
div.anuncios form button:hover{
	background: #FA5858;
}
div.anuncios h3{
	margin-top: 30px;
}
div.anuncios div.info{
	display: flex; 
}
div.anuncios div.adverts{
	margin: 0;
}
div.anuncios  p a{
	background: blue;
	cursor: pointer;
	color: white;
	padding: 8px;
	border-radius: 5px;
}
div.adverts p.link{
	margin-top: 15px;
}
div.anuncios p a:hover{
	background: #819FF7;
}
div.anuncios div.comentarios{
	margin-top: 40px;
	width: 50%;
	border: solid 1px #babaca;
	border-radius: 5px;
}
div.comentarios h3{
	margin-top: 60px;
	margin-bottom: 40px;
}
div.comentarios p{
	text-align: left;
	padding-left: 10px;
}
div.anuncios input{
	margin-bottom: 20px;
	border: solid 1px #babaca;
	border-radius: 5px;
	height: 30px;
	outline: none;
	width: 50%;
}
div.anuncios form button{
	padding: 15px;
	color: white;
	background: red;
	border: none;
	border-radius: 5px;
}
.sobre p{
	text-align: justify;
	width: 780px;
	font-size: 25px;
	color: rgb(255 255 255);
}
.sobre{
	margin-top: 100px;
	margin-bottom: 80px;
}

.ajuda {
	text-align: justify;
	margin: 150px auto;
	width: 400px;
	font-size: 19px;
	color: rgb(255 255 255);
	z-index: 5;
}
.ajuda h1{
	margin-left:-25px;
}	
.slide{
	width: 300px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 4px;
	margin-top: 40px;
	border: none;
}
.slide ul{
	margin: auto; 
	padding: 0;
	border: none;
}
.slide li img{
    width: 100%;
    height: 350px;
    position: center;
    margin: auto;
}
div.slide div a#section{
	color: white;
	background: #333;
	padding: 15px;
	text-align: center;
	opacity: 0.7;
	font-size: 30px;
	line-height: 30px;
	border-radius: 5px;
}
div.slide div.botao{
	position: absolute;
	z-index: 500;
	margin-top: 160px;
	width: 317px;
	display: none;
}
.slide div a.proxima{
float: right;
}
.slide div a.anterior{
	float: left;
}
div.slide div.botao a#section:hover{
	background: #555;

}
div.profile{
	margin-top: 50px;
	width: 70%;
	background: white;
	border-radius: 15px;
	min-height: 100vh;
	margin-bottom: 40px;
	border: solid 1px #babaca;
}
.profile img{
	width: 170px;
	height: 190px;
	margin: 0 25px;
}
p.red{
	color: red;
	background: #babaca;
	font-size: 29px;
	text-align: center;
	width: 30%;
	border-radius: 5px;
	margin: 25px auto;
	z-index: 500;
}
p.blue{
	color: blue;
	background: #babaca;
	font-size: 29px;
}

.barra{
    width:150px;
    height:30px;
    background: #ebebeb;
    position:relative;
    margin: auto;
}
.bar{
    width:150px;
    height:30px;
    background: #ebebeb;
    position:relative;
    margin: auto;
}
.stars{
    position:absolute; left:0; top:0; width:100%;
}
.star{
    float:left; 
    width:30px; 
    height:30px;
    text-align:center; 
    position:relative; 
    cursor:pointer;
    overflow: hidden;
}
.star.full{
    background:linear-gradient(to bottom, #fee24f, #f4bb2f);
}
.bg{
    float:left;
    height:30px;
    width:30%;
    background:linear-gradient(to bottom, #fee24f, #f4bb2f);
}
.bt{
    float:left;
    height:30px;
    width:30%;
    background:#848484;
}
.starAbsolute{
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
    background:url(../img/starpng.png) top left no-repeat; 
    background-size:cover;
}
.estrela{
    float:left; 
    width:30px; 
    height:30px;
    text-align:center; 
    position:relative;
    overflow: hidden;
}
div.profile div.info{
	display: flex; 
	margin-top: 50px;
}
div.info div.dados{
	margin: 0 auto; 
	border-radius: 5px; 
	width: 40%;
}
div.profile div.adverts{
	display: flex; 
	margin-top: 20px; 
	padding: 15px;
}
div.adverts a{
	width: 200px;
}
div.adverts p.h2{
	margin-top: 55px;
}
div.adverts a div{
	width: 90%; 
	border: solid 1px #babaca; 
	border-radius: 5px; 
	margin-bottom: 10px; 
	padding: 15px;
}
div.adverts a div img{
	margin: auto;
}

div.account{
	display: none;
	width: 300px;
	height: 595px; /*400*/
	position: absolute;
	background: white;
	top: 0;
	right: 200px;
	z-index: 9900;
	padding: 10px;
	border-radius: 10px;
	border: solid 1px #babaca;
}
div.account p{
	margin-top: 40px;
}
div.account p a.link{
	color: black;
}
div.account p a.link:hover{
	text-decoration: underline;
	color: #babaca;
}
div.account a.fechar{
	width: 10px;
	color: #babaca;
	float: right;
	padding: 4px;
	margin-right: -7px;
	margin-top: -15px;
}
p a.link i.fas {
	padding: 5px; 
	font-size: 40px;
}
div.account hr.hr {
	width: 60%;
}
p.topo a.top{
	margin-bottom: 20px;
}
a.top{
	color: black;
	font-size: 17px;
}
a.top:hover{
	text-decoration: underline;
}
div.cadastro select.subtype{
	display: none;
}
div.cadastro p.subtype{
	display: none;
}
div.coment{
	display: none;
	z-index: 10000;  
	position: fixed; 
	top: 0; 
	left: 0; 
	overflow: hidden;
}
div.coment form{
	width: 450px; height: 215px;
}
div.coment form textarea{
	 resize: none; 
	 width:430px; 
	 height: 70%; 
	 padding: 8px; 
	 border-radius: 15px;
	 outline: none;
}
div.coment form button{
	padding: 8px; 
	width: 130px; 
	height: 40px; 
	border-radius: 5px; 
	border: none; 
	cursor: pointer;
	font-size: 20px;
	background: red;
	color: white;
	outline: none;
}
div.coment form button:hover{
	background: #FA5858;
}
div.info div.link{
	width: 205px;
	margin-right: 20px;
	text-align: left;
	padding: 10px;
}
div.info div.link a{
	float: left;
	margin-top: 10px;
	color: blue;
}
div.info div.link a:hover{
	text-decoration: underline;
}
div.info div.link p{
	font-size: 18px;
	margin-bottom: 10px;
}
div.visitas{
	width: 500px; 
	height: 500px; 
	display: none; 
	z-index: 10000; 
	background: white;
	top: 0;
	left: 0;
	position: fixed;
	border-radius: 5px;
	align-content: center;
}
div.visitas p{
	height: 15px;
	font-size: 17px;
	color: #babaca;
	height: 25px;
	width: 95%;
	text-align: left;
	padding-left: 20px;
	overflow: hidden;
}
div.visitas p label{
	font-size: 13px;
	color: #babaca;
	margin-left: 15px;
}
div.visitas p.limpa a {
	color: blue;
	margin-left: -20px;
}
div.visitas a:hover{
	text-decoration: underline;
}
div.visitas p.limpa{
	text-align: center; bottom: 0; position: absolute;
}